.cardCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}
.fromCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.toCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.bgCont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.btnCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
